header {
  margin: 0;
  height: 10%;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}
.rotimage {
  position: absolute;
  top: 5%;
  left: 50%;
  width: 50px;
  height: 50px;
  margin: -10px 0 0 -20px;
  -webkit-animation: spin 4s linear infinite;
  -moz-animation: spin 4s linear infinite;
  animation: spin 4s linear infinite;
}
@-moz-keyframes spin {
  100% {
    -moz-transform: rotate(360deg);
  }
}
@-webkit-keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
  }
}
@keyframes spin {
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.ne_prikazuj {
  display: none;
}
.dugme {
  position: absolute;
  top: 0%;
  left: 47.5%;
  align-items: center;
  height: 20px;
  width: 5%;
  background-color: darkgrey;
  color: antiquewhite;
}
.dugme1 {
  position: absolute;
  top: 201px;
  align-items: center;
  height: 20px;
  width: 100%;
  margin: 0 auto;
  background-color: darkgrey;
  color: antiquewhite;
}
.polje {
  position: absolute;
  top: 15%;
  height: 50%;
  width: 100%;
  margin: 0 auto;
}
.polje_kocki {
  position: absolute;
  top: 12%;
  height: 10%;
  width: 100%;

  margin: 0 auto;
}
.bacene_kocke {
  position: relative;
  top: 10%;
  width: 30%;
  left: 35%;
}
.izabrane_kocke {
  position: relative;
  top: 10%;
  width: 30%;
  left: 35%;
}
.kocke {
  width: 50px;
  float: center;
}
.tabela {
  position: absolute;
  left: 30%;
  top: 45%;
  align-items: center;
  height: 50%;
  width: 35%;
  margin: 0 auto;
  background-color: darkgrey;
  color: antiquewhite;
}
th {
  background-color: aquamarine;
  color: #444;
  font-weight: bolder;
}
tr td {
  height: 10px;
  background-color: aquamarine;
  color: #444;
}
td:hover {
  background-color: bisque;
}
.rb {
  width: 20px;
}
